/* 
 Add variables related to colors/color pallete of your application here and
 access them from every scss file within the app 
*/

$text-primary-color: blue;

$text-danger-color: #8f1212;

$default-box-bg: purple;

$orange-bg: rgb(160, 112, 8);
$red-bg: rgb(247, 81, 81);
$green-bg: rgb(70, 216, 70);
