/*
 You can add all variables regarding your font settings for the app.
*/

$font-family: 'Open Sans', 'Helvetica Neue';

$p-font-size: 24px;

// Font weights..
$font-weight-light: 300;
$font-weight-regular: 500;
